body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.fade {
  display: inline-block;
  transition: opacity 0.5s linear, transform 0.5s ease-in-out;
  transform-origin: 50% 50%;
  transform: translateX(300px);
}

.enter-start {
  opacity: 0;
}

.enter-active {
  opacity: 1;
  transform: translateX(0px);
}

.entered {
  opacity: 1;
  transform: translateX(0px);
}

.leave-start {
  opacity: 1;
  transform: translateX(0px);
}

.leave-active {
  opacity: 0.2;
}

.gone {
  opacity: 0;
  transform: translateX(300px) scale(2);
}